{% block content %}
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <title>UMPD Crime Alerts Visualized</title>
</head>
<nav> 
    <div class="navbar">
        <a href="{{ url_for('index')}}">Home</a>
        <a href="{{ url_for('map')}}">Map</a>
        <a href="{{ url_for('stats')}}">Statistics</a>
        <div class="logo-image">
            <img src="./static/TechnicaLogo.pnsg" class="img-fluid" width="340" height="220">
      </div>
    </div>
</nav>
<h1>Map</h1>
<body>
    <h2><center>Around the Area</center></h2>
    <div class="text-container">
        <img src="./static/top_20incidents.png" class="img-fluid" width="340" height="220">
    </div>
</body>
{% endblock %}