{% block content %}
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <title>UMPD Crime Alerts Visualized</title>
</head>
<nav> 
    <div class="navbar">       
        <a href="{{ url_for('map')}}">Map</a>
        <a href="{{ url_for('stats')}}">Statistics</a>
        <a href="{{ url_for('index')}}">Home</a>

        <div class="logo-image">
            <img src="./static/TechnicaLogo.png" class="img-fluid" width="340" height="220">
      </div>
    </div>
</nav>

<h1>Statistics</h1>
<body>
    <h2><center>Top 20 Incidents</center></h2>
    <div class="text-container">
        <img src="./static/top_20incidents.png" class="img-fluid" width="340" height="220">
        <p>This graph displays ...</p>
    </div>

    <h2><center>Top 5 Incidents per Month</center></h2>
    <div class="text-container">
        <img src="./static/top_5.-incidents_per_month.png" class="img-fluid" width="340" height="220">
        <p>This graph displays ...</p>
    </div>

    <h2><center>Top 5 Reports per Month</center></h2>
    <div class="text-container">
        <img src="./static/top_5_reports_per_month.png" class="img-fluid" width="340" height="220">
        <p>This graph displays ...</p>
    </div>
</body>
{% endblock %}