h1 {
    border: 2px #eee solid;
    color: #523249;
    text-align: center;
    padding: 10px;
}
.logo {
    font-size: 24px;
    text-decoration: none;
}
body {
    background-color: #523249;
    justify-content: center;
    
}

.navbar {
    background-color: #523249;
    overflow: hidden;
}

.navbar a {
    background-color: #523249;
    float: right;
    display: circle;
    color: #C3B299;
    text-align: center;
    padding: 20px 40px;
    text-decoration: none;
    border-radius: 10px;
    font-size: 20px;

}

.navbar a:hover {
    background-color: #CCD5C3;
    color: #815355;
}

.text-container {
    width: 50%; /* Adjust the width as needed */
    background-color: #CCD5C3; /* Background color for the container */
    padding: 20px; /* Add padding as needed */
    justify-content: center;
    align-items: center;
    margin: auto;
}

.content {
    margin: 20px;
}