h1 {
    border: 2px #eee solid;
    color: #523249;
    text-align: center;
    padding: 10px;
}
logo {
    font-size: 24px;
    text-decoration: none;
}
body {
    background-color: #523249;
}

.navbar {
    background-color: #523249;
    overflow: hidden;
}

.navbar a {
    background-color: #523249;
    float: right;
    display: circle;
    color: #C3B299;
    text-align: center;
    padding: 20px 40px;
    text-decoration: none;
    border-radius: 10px;
    font-size: 20px;

}

.navbar a:hover {
    background-color: #CCD5C3;
    color: #815355;
}

.content {
    margin: 20px;
}